/* Restablecer márgenes y rellenos de todos los elementos */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Establecer fuentes predeterminadas */
body {
    font-family: "IBM Plex Mono", sans-serif; /* o cualquier fuente que prefieras */
    background: #a2a5a0;
    color: white;
}

/* Eliminar los estilos de los enlaces */
a {
    text-decoration: none;
    color: inherit;
}

/* Establecer tamaño base para la tipografía */
html {
    font-size: 100%; /* Esto hace que el tamaño base sea relativo a la configuración del navegador */
}

/* Hacer que las listas no tengan estilo */
ul,
ol {
    list-style: none;
}

/* Hacer que las tablas no tengan bordes */
table {
    border-collapse: collapse;
}

/* Eliminar el borde y el fondo de los botones */
button {
    border: none;
    background: none;
    cursor: pointer;
}

.background-color-main{
    background-color: #f3f0ea;
}

.font-family-courier-prime{
    font-family: "Courier Prime", monospace;
}

.width-full{
    width: 100%;
}

.width-70{
    width: 70%;
}

.width-60{
    width: 60%;
}

.width-40{
    width: 40%;
}

.width-30{
    width: 30%;
}

.width-20-px{
    width: 20px;
}

.width-40-px{
    width: 40px;
}

.height-100{
    height: 100%;
}

.height-250-px{
    height: 250px;
}

.height-300-px{
    height: 300px;
}

.height-420-px{
    height: 420px;
}

.height-550-px{
    height: 550px;
}

.list-style-none{
    list-style: none;
}

.display-flex{
    display: flex;
}

.display-block{
    display: block;
}

.flex-direction-column{
    flex-direction: column;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-space-between{
    justify-content: space-between;
}

.justify-content-space-around{
    justify-content: space-around;
}

.justify-content-flex-end{
    justify-content: flex-end;
}

.align-items-center{
    align-items: center;
}

.padding-all{
    padding: 30px;
}

.padding-all-5{
    padding: 5px;
}

.border-radius-15{
    border-radius: 15px;
}

.text-transform-uppercase{
    text-transform: uppercase;
}

.font-weight-400{
    font-weight: 400;
}

.font-weight-700{
    font-weight: 700;
}

.background-color-white{
    background-color: white;
}

.background-color-transparent{
    background-color: transparent;
}

.color-black{
    color: black;
}

.cursor-pointer{
    cursor: pointer;
}

.line-height-28-px{
    line-height: 28px;
}

.padding-top-20{
    padding-top: 20px;
}

.padding-bottom-20{
    padding-bottom: 20px;
}

.padding-right{
    padding-right: 20px;
}

.padding-left{
    padding-left: 20px;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.margin-bottom-40{
    margin-bottom: 40px;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-top-40{
    margin-top: 40px;
}

.font-size-2-5-rem{
    font-size: 2.5rem;
}

.font-size-2-rem{
    font-size: 2rem;
}

.font-size-1-8-rem{
    font-size: 1.8rem;
}

.font-size-1-rem{
    font-size: 1rem;
}

.font-size-title{
    font-size: clamp(1.5rem, 2vw, 2.5rem);
}

.font-size-items-menu{
    font-size: clamp(1rem, 2vw, 1.1rem);
}

.font-size-select{
    font-size: clamp(0.875rem, 2vw, 0.9rem);
}

.img-body{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-me-portfolio{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 600px;
    border-radius: 10px;
    border: 2px solid black;
    filter: grayscale(1);
}

.shadow-content{
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.75);
}

.strong-600{
    font-weight: 600;
}

.color-blue{
   color: #114756;
}

.border-bottom-1{
    border-bottom: 1px solid gray;
}

.border-none{
    border: none;
}

.menu-mobile{
    display: none;
}

.hidden-options-menu{
    display: none;
}

.show-options-menu-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.menu-hamburger-close{
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 99999;
}

.hidden-icon-menu-mobile{
    display: none;
}

.show-icon-menu-mobile{
    display: block;
}

.text-align-center{
    text-align: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-basis{
    flex-basis: 32%;
}

.text-decoration-underline{
    text-decoration: underline;
}

@media (max-width: 1024px) {
    .font-size-2-5-rem{
        font-size: 1.8rem;
    }

    .img-body{
        background-repeat: repeat;
    }

    .menu-desk{
        display: none;
    }

    .menu-mobile{
        display: block !important;
    }

    .padding-left{
        padding-left: 0;
    }

    .padding-right{
        padding-right: 0;
    }

    .width-full-section-mobile{
        width: 100%;
    }

    .img-me-portfolio{
        width: 350px;
        height: 350px;
    }

    .width-full-mobile{
        width: 95%;
    }

    .margin-bottom-20-mobile{
        margin-bottom: 20px;
    }

    .align-items-start-mobile{
        align-items: flex-start;
    }

    .align-items-center-mobile{
        align-items: center;
    }

    .flex-direction-column-mobile{
        flex-direction: column;
    }

    .flex-direction-column-reverse-mobile{
        flex-direction: column-reverse;
    }
}

@media (max-width: 768px) {
    .img-me-portfolio{
        width: 280px;
        height: 280px;
    }

    .margin-top-none-mobile{
        margin-top: 0px !important;
    }
}






